﻿@using System.Web.UI.WebControls
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/kendo/2012.3.1114/normalize.css")" rel="stylesheet" />
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700'
        rel='stylesheet' type='text/css'>
    <link href="@Url.Content("~/Content/kendo/2012.3.1114/site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/bootstrap-responsive.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.common.min.css")"
        rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.default.min.css")"
          rel="stylesheet" type="text/css" />
    <!--[if IE]>
	<link href="@Url.Content("~/Content/kendo/2012.3.1114/iesite.css")" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="@Url.Content("~/Scripts/html5shiv.js")"></script>
        <script src="@Url.Content("~/Scripts/PIE.js")"></script>
    <![endif]-->
</head>    
<body>
    <div id="wrapper">
        <header>
            <div class="container">
                <h1 class="poo"><a href="#"><img src="@Url.Content("~/Content/images/chili.png")" style="height: 125px; width: 125px"/></a></h1>
                @*<h3 style="font-size: 1.75em; padding-left: 155px; position: relative; top: 10px;"></h3>*@
                <nav>
                    <ul id="menu" data-role="menu" class="k-widget k-reset k-header k-menu k-menu-horizontal" style="opacity: 1; margin-top:2.75em;" role="menubar">
                        <li class="k-item k-state-default k-first">
                            @Html.ActionLink("Home", "Index", "Home")
                        </li>
                        <li class="k-item k-state-default k-first">
                            @Html.ActionLink("Contact", "Contact", "Home")
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <div id="body">
            @RenderBody()
        </div>
    </div>
    <script src="@Url.Content("~/Scripts/jquery-1.8.3.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.web.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jQuery.toDictionary.js")"></script>
    <script src="@Url.Content("~/js/bootstrap.min.js")"></script>
    <script>
        $('#menu').kendoMenu();
    </script>
</body>
</html>
