﻿@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}
<div class="container form-horizontal" id="contactform">
    <fieldset>
        <legend>Contact</legend>
        <div class="control-group">
            <label class="control-label" for="name">
                name: *</label>
            <div class="controls">
                <input type="text" name="name" id="name" placeholder="name..." required>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="email">
                email: *</label>
            <div class="controls">
                <input type="email" name="email" id="email" placeholder="email..." required>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="comments">
                comments:</label>
            <div class="controls">
                <textarea type="comments" name="comments" id="comments" placeholder="comments..."></textarea>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn" id="btnSubmit">
                    Submit</button>
            </div>
        </div>
    </fieldset>
</div>
<div class="container" id="contactmessage" style="display: none;">
    <div class="control-group">
        <div class="controls">
            <p>thanks for contacting chili!.</p>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn" id="btnHome">
                Home</button>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/jquery-1.8.3.js")"></script>
<script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.web.min.js")"></script>
<script src="@Url.Content("~/Scripts/jQuery.toDictionary.js")"></script>
<script src="@Url.Content("~/js/bootstrap.min.js")"></script>
<script>
    $("#btnSubmit").click(function () {
        var validator = $("#contactform").kendoValidator().data("kendoValidator");
        if (validator.validate()) {
            var name = $("#name").val();
            var email = $("#email").val();
            var comments = $("#comments").val();
            var dataString = 'name=' + name + '&emailAddress=' + email + '&comments=' + comments;
            $.ajax({
                type: "POST",
                url: "@Url.Content("~/Email/SendEmail")",
                data: dataString,
                success: function () {
                    $("#contactform").hide();
                    $("#contactmessage").show();
                }
            });
            return false;
        }
    });

    $("#btnHome").click(function () {
        window.location = "@Url.Content("~/")";
    });
</script>
