﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}


<h2>Welcome</h2>
<p>You have landed at the chili! factory website. We are a newly formed group of development professionals that have decided to join forces and do good.</p>
<p>We are really just working on getting better at our jobs, have some fun, and maybe make a little coin.</p>
